.btn{
    width: 75px
}
.imageThumbnail{
    height: 200px;
    width: auto;
}
.btn.btn-to-index{
    width: auto;
}
.footer-site {
    background: #d3d3d3;
    vertical-align: bottom;
    padding-bottom: 70px;
    padding-top: 100px;
}